<h3>My subscriptions</h3>
<% if(typeof subscriptions !== "undefined" && subscriptions?.subscriptions?.length){ %>
  <div class="form-group">
    <form id="subscriptions-form" action="/subscriptions/">
          <table class="table table-sm table-dark">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Support</th>
                <th scope="col">Source(s)</th>
                <th scope="col">Modalities</th>
                <th scope="col">✎</th>
                <th scope="col">⤫</th>
              </tr>
            </thead>
            <tbody>
              <% for(var i=0; i < subscriptions.subscriptions.length; i++) { %>
                <tr data-value=<%= subscriptions.subscriptions[i].subscription%>>
                  <td><%= subscriptions.subscriptions[i].subscription %></td>
                  <td><%= subscriptions.subscriptions[i].support.title %></td>
                  <td><%= subscriptions.subscriptions[i].sources.map((el) => { return el.title }).join(", ") %></td>
                  <td>
                    <%if (subscriptions.subscriptions[i].modalities?.time) {%>
                      At <%= subscriptions.subscriptions[i].modalities?.time %> on <%= subscriptions.subscriptions[i]?.modalities?.days?.join(", ") %>
                    <%} else {%>
                      When it comes out
                    <%}%> 
                  </td>
                  <td><a class="btn btn-sm btn-primary" href="/profile/botonews-settings/<%=subscriptions.subscriptions[i].subscription%>">Edit</a></td>
                  <td><button type="button" value="<%= subscriptions.subscriptions[i].subscription %>" class="btn btn-sm btn-danger delete-button">Delete</button></td>
                </tr>
          <% } %>
          </tbody>
        </table>
    </form>
  </div>
<% } %>
  <div class="text-right">
    <a href="/profile/botonews-settings"><button class="btn btn-success">Add a new subscription</button></a>
  </div>

<script>
  $(".delete-button").click(function() {
    var subscriptionId = $(this).attr("value");
    axios.delete(`http://127.0.0.1:8081/subscriptions/${subscriptionId}`, {})
      .then(async function(response) {
        if (response.status == 200) {
          $(`tr[data-value=${subscriptionId}]`).remove();
          if ($('.table tbody tr').length == 0) {
            $(".table").css("display", "none")
          }
          $(".alert-success").removeAttr("style");
        }
      })
  });
</script>
