<%- include('partials/header', {css: 'splashpage.css' }); -%>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/core.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/md5.js"></script>
<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">

                <% if(user.userid){ %>

                    <form action="" name="form-settings">

                            <div class="sources d-inline">
                                <% for(var i=0; i < sources.length; i++) { %>
                                    <div class="form-check form-check-inline text-light">
                                        <input class="form-check-input sources" type="checkbox" value="<%= sources[i].source %>" name="<%= sources[i].title %>" id="<%= sources[i].title %>" <%- splashPageSubscription?.sources?.filter(el => el.title === sources[i].title).length ? 'checked=checked' : ''%>>
                                            <a class='my-tool-tip' data-toggle="tooltip" data-placement="bottom" title="<%= sources[i].description %>">
                                                <label class="form-check-label" for="<%= sources[i].title %>">
                                                    <%= sources[i].title %>
                                                </label>
                                            </a>
                                    </div>
                                <% } %>
                            </div>

                            |&nbsp;

                            <div class="modes d-inline">
                                <div class="form-check form-check-inline text-light">
                                    <input class="form-check-input" type="checkbox" name="random" id="random-mode" value="random" <%- splashPageSubscription?.modalities?.random ? 'checked=checked' : '' %>>
                                    <label class="form-check-label" for="random-mode">
                                        Randomize
                                    </label>
                                </div>
                                <div class="form-check form-check-inline text-light">
                                    <input class="form-check-input" type="number" min="1" max="12" size="3" name="number" id="number-mode" value="<%= splashPageSubscription?.modalities?.number %>">
                                    <label class="form-check-label" for="number-mode">
                                        Quantity
                                    </label>
                                </div>
                            </div>

                            <button type="button" id="submit" name="submit" class="btn btn-primary update-button">Save</button>

                    </form>
                <% } %>

            </ul>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown float-right">
                    <% if(user.userid){ %>
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="" id="profile-picture" width="40" height="40" class="rounded-circle">
                            <script>
                                $("#profile-picture").attr("src", `https://www.gravatar.com/avatar/${CryptoJS.MD5("<%= user.email %>")}?d=identicon`)
                            </script>
                        </a>
                        <div class="dropdown-menu" style="left: -120px; top: 50px;" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/profile/subscriptions">Manage subscriptions</a>
                            <a class="dropdown-item" href="/profile/personal-details">Edit Profile</a>
                            <a class="dropdown-item" href="/logout">Log Out</a>
                        </div>
                    <% } else{ %>
                        <div class="login-now" style="color: white;">
                            <h6>You want to customize this page ? <a href="/login">Login</a> now ! 😉</h6>
                        </div>
                    <% } %>
                </li>
            </ul>
        </div>
    </nav>
    <main class="p-5">
        <div class="row" id="cards-container">
            <% for(var i=0; i < news.length; i++) { %>
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 botonewsarticle mb-4">
                    <div class="card text-white bg-dark">
                        <a href="<%- news[i].item_url %>" target="_blank">
                            <img src="<%= news[i].image_url %>"
                                class="card-img-top" width="100%" alt="<%= news[i].image_alt %>"/>
                        </a>
                        <div class="card-body">
                            <h5 class="caMotivQuoteItemrd-title"><%= news[i].title %></h5>
                            <p class="card-text">
                                <%- news[i].subtitle %>
                            </p>
                            <p class="card-text text-right">
                                <small class="text-muted"><%= new Date(news[i].created_at).toLocaleString() %></small>
                            </p>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
    </main>
    <script>
        $("a.my-tool-tip").tooltip();

        $(".update-button").click(function () {
            let sources = [];

            // Fetching all the checked sources and putting them in an array
            $('.sources:checked').each(function () {
                sources.push($(this).attr('value'));
            });

            let modalities = {
                random: $('#random-mode').prop('checked'),
                number: $('#number-mode').val()
            }

            let data = {
                        userId: "<%= user.userid %>",
                        source: sources,
                        support: "<%= splashPageSupport[0].support %>",
                        modalities: modalities
                    }

            if("<%= splashPageSubscription.subscription %>") { // User does have a splashpage subscription already
                axios.put('http://127.0.0.1:8081/subscriptions/<%= splashPageSubscription.subscription %>', data)
                    .then(function (response) {
                        if (response.status == 201) {
                            location.reload();
                        }
                    })
            } else { // User does not have a splashpage subscription already
                axios.post('http://127.0.0.1:8081/subscriptions', data)
                    .then(function (response) {
                        if (response.status == 201) {
                            location.reload();
                        }
                    })
            }
        });
    </script>
    <%- include('partials/footer'); -%>
